<h1 class="main-title">Gastos</h1>

  <app-periodo-select [periodos]="periodos" [defaultValue]="defaultPeriodo"
    (periodoChange)="onPeriodoChange($event)"></app-periodo-select>
   
    <app-expand-row-table
    [tableTitle]="'Gastos del Mes'"
    [badgeClass]="'badge success'"
    [data]="gastos"
    [mainColumns]="mainColumns"
    [amountColumns]="amountColumns"
    [movimientoForms]="movimientoForms"
    (expandElementEvent)="expandElement($event)"
    (updateMovimientoEvent)="updateMovimiento($event)"
  ></app-expand-row-table>