<h1 class="main-title">Facturas</h1>


  <app-periodo-select [periodos]="periodos" [defaultValue]="defaultPeriodo"
    (periodoChange)="onPeriodoChange($event)"></app-periodo-select>


<h6 class="subtitle">Facturas Cobradas <span class="badge success">{{countFacPagadas}}</span></h6>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="this.facturasPagadas" multiTemplateDataRows class="mat-elevation-z8">
 
    <!-- #region Totales Factura Pagadas-->
    <ng-container matColumnDef="span3">
      <th mat-header-cell *matHeaderCellDef colspan="3">  <p  class="text-end">Totales:</p> </th>               
    </ng-container>
    <ng-container matColumnDef="totalNeto">
      <th mat-header-cell *matHeaderCellDef>  {{ totalNeto | currency }}</th>               
    </ng-container>

    <ng-container matColumnDef="totalIva">
      <th mat-header-cell *matHeaderCellDef>  {{ totalIva | currency }}</th>               
    </ng-container>

    <ng-container matColumnDef="totalIsr">
      <th mat-header-cell *matHeaderCellDef>  {{ totalIsr | currency }}</th>               
    </ng-container>
    
    <ng-container matColumnDef="totalIvaRetenido">
      <th mat-header-cell *matHeaderCellDef>  {{ totalIvaRetenido | currency }}</th>               
    </ng-container>


    <ng-container matColumnDef="totalGeneral">
      <th mat-header-cell *matHeaderCellDef>  {{ totalGeneral | currency }}</th>               
    </ng-container>

    <ng-container matColumnDef="span2">
      <th mat-header-cell *matHeaderCellDef colspan="2">  </th>               
    </ng-container>
    <!-- #endregion-->

    <!-- #region Header Factura -->
    <ng-container matColumnDef="folio">
      <th mat-header-cell *matHeaderCellDef> Folio </th>
      <td mat-cell *matCellDef="let factura"> {{factura.serie }} {{factura.folio}} </td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let factura">{{ factura.fecha | date: 'dd/MM/yyyy' }}</td>
    </ng-container>

    <ng-container matColumnDef="cliente">
      <th mat-header-cell *matHeaderCellDef> Cliente </th>
      <td mat-cell *matCellDef="let factura"> {{factura.cliente}} </td>
    </ng-container>

    <ng-container matColumnDef="neto">
      <th mat-header-cell *matHeaderCellDef> Neto </th>
      <td mat-cell *matCellDef="let factura"> {{factura.neto | currency}} </td>
    </ng-container>

    <ng-container matColumnDef="iva">
      <th mat-header-cell *matHeaderCellDef> Iva </th>
      <td mat-cell *matCellDef="let factura"> {{factura.iva | currency }} </td>
    </ng-container>

    <ng-container matColumnDef="ivaRetenido">
      <th mat-header-cell *matHeaderCellDef> Iva Ret </th>
      <td mat-cell *matCellDef="let factura"> {{factura.ivaRetenido | currency }} </td>
    </ng-container>

    <ng-container matColumnDef="isr">
      <th mat-header-cell *matHeaderCellDef> Isr </th>
      <td mat-cell *matCellDef="let factura"> {{factura.isr}} </td>
    </ng-container>



    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef> Total </th>
      <td mat-cell *matCellDef="let factura"> {{factura.total | currency }} </td>
    </ng-container>

    <ng-container matColumnDef="agente">
      <th mat-header-cell *matHeaderCellDef> Agente </th>
      <td mat-cell *matCellDef="let factura"> {{factura.agente}} </td>
    </ng-container>

    <ng-container matColumnDef="opciones">
      <th mat-header-cell *matHeaderCellDef> Opciones </th>
      <td mat-cell *matCellDef="let factura">
        <button mat-icon-button (click)="expandElement(factura)">
          <mat-icon>{{factura.expanded ? 'expand_less' : 'expand_more'}}</mat-icon>
        </button>
      </td>
    </ng-container>
    <!-- #endregion -->

    <!-- #region Detalles Codigo, Nombre y Descripcion del Producto -->
    <ng-container matColumnDef="detalles">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="element-detail" *ngIf="element.expanded">
          <table mat-table [dataSource]="element.movimientos">

            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef> Descripcion </th>
              <td mat-cell *matCellDef="let movto"> <strong>{{movto.codigoProducto }} </strong>- {{movto.nombreProducto
                }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{movto.descripcion}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['descripcion']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['descripcion'];"></tr>
          </table>
        </div>
      </td>
    </ng-container>
    <!-- #endregion -->

    <!-- #region SubDetalles Importes -->
    <ng-container matColumnDef="subDetalles">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="element-detail" *ngIf="element.expanded">
          <table mat-table [dataSource]="element.movimientos">

            <ng-container matColumnDef="neto">
              <th mat-header-cell *matHeaderCellDef> Neto </th>
              <td mat-cell *matCellDef="let movimiento"> {{movimiento.neto | currency}} </td>
            </ng-container>

            <ng-container matColumnDef="descto">
              <th mat-header-cell *matHeaderCellDef> Descto </th>
              <td mat-cell *matCellDef="let movimiento"> {{movimiento.descuento | currency}} </td>
            </ng-container>

            <ng-container matColumnDef="IVA">
              <th mat-header-cell *matHeaderCellDef> IVA </th>
              <td mat-cell *matCellDef="let movimiento"> {{movimiento.iva | currency}} </td>
            </ng-container>

            <ng-container matColumnDef="ISR">
              <th mat-header-cell *matHeaderCellDef> ISR </th>
              <td mat-cell *matCellDef="let movimiento"> {{movimiento.isr | currency}} </td>
            </ng-container>

            <ng-container matColumnDef="Agente">
              <th mat-header-cell *matHeaderCellDef> Agente </th>
              <td mat-cell *matCellDef="let movimiento">
                <input type="number" class="short-input"
                  [formControl]="$any(movimientoForms).get(movimiento.idMovimiento)?.get('idAgente')" maxlength="1" />
              </td>
            </ng-container>


            <ng-container matColumnDef="Com">
              <th mat-header-cell *matHeaderCellDef>% Com </th>
              <td mat-cell *matCellDef="let movimiento"> <input class="short-input"
                  [formControl]="$any(movimientoForms).get(movimiento.idMovimiento)?.get('comision')" maxlength="3" />
              </td>
            </ng-container>

            <ng-container matColumnDef="Uti">
              <th mat-header-cell *matHeaderCellDef> Utilidad </th>
              <td mat-cell *matCellDef="let movimiento"> <app-currency-input class="short-input"
                  [control]="movimientoForms.get(movimiento.idMovimiento)?.get('utilidad')"></app-currency-input> </td>
            </ng-container>


            <ng-container matColumnDef="U.Ric">
              <th mat-header-cell *matHeaderCellDef> U Ric </th>
              <td mat-cell *matCellDef="let movimiento"> <app-currency-input
                  [control]="movimientoForms.get(movimiento.idMovimiento)?.get('utilidadRicardo')"></app-currency-input>
              </td>
            </ng-container>

            <ng-container matColumnDef="U.Ang">
              <th mat-header-cell *matHeaderCellDef> U Angie </th>
              <td mat-cell *matCellDef="let movimiento"> <app-currency-input
                  [control]="movimientoForms.get(movimiento.idMovimiento)?.get('utilidadAngie')"></app-currency-input>
              </td>
            </ng-container>

            <ng-container matColumnDef="IvaR">
              <th mat-header-cell *matHeaderCellDef> IVA Ric </th>
              <td mat-cell *matCellDef="let movimiento"> <app-currency-input
                  [control]="movimientoForms.get(movimiento.idMovimiento)?.get('ivaRicardo')"></app-currency-input>
              </td>
            </ng-container>

            <ng-container matColumnDef="IvaA">
              <th mat-header-cell *matHeaderCellDef> IVA Angie </th>
              <td mat-cell *matCellDef="let movimiento"><app-currency-input
                  [control]="movimientoForms.get(movimiento.idMovimiento)?.get('ivaAngie')"></app-currency-input> </td>
            </ng-container>

            <ng-container matColumnDef="IsrR">
              <th mat-header-cell *matHeaderCellDef> ISR Ric </th>
              <td mat-cell *matCellDef="let movimiento"> <app-currency-input
                  [control]="movimientoForms.get(movimiento.idMovimiento)?.get('isrRicardo')"></app-currency-input></td>
            </ng-container>

            <ng-container matColumnDef="IsrA">
              <th mat-header-cell *matHeaderCellDef> ISR Angie </th>
              <td mat-cell *matCellDef="let movimiento"><app-currency-input
                  [control]="movimientoForms.get(movimiento.idMovimiento)?.get('isrAngie')"></app-currency-input> </td>
            </ng-container>

            <ng-container matColumnDef="Observa">
              <th mat-header-cell *matHeaderCellDef> Observa. </th>
              <td mat-cell *matCellDef="let movimiento"><input class="medium-input"
                  [formControl]="$any(movimientoForms).get(movimiento.idMovimiento)?.get('observaciones')" /> </td>
            </ng-container>


            <ng-container matColumnDef="save">
              <th mat-header-cell *matHeaderCellDef>Opciones </th>
              <td mat-cell *matCellDef="let movimiento">

                <button mat-icon-button matTooltip="calc comision" matTooltipPosition="left" aria-label="calcular"
                  class="calulate-icon" (click)="calcComisiones(movimiento)">
                  <mat-icon>calculate</mat-icon>
                </button>

                <button mat-icon-button aria-label="save" class="save-icon" (click)="updateMovimiento(movimiento)">
                  <mat-icon>save</mat-icon>
                </button>
              </td>
            </ng-container>

            <!-- El orden que importa esta en Tr estos container no indican orden-->
            <tr mat-header-row *matHeaderRowDef="columnsMovtoImportes"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsMovtoImportes; let dataIndex = dataIndex"></tr>>

          </table>
        </div>
      </td>
    </ng-container>
    <!-- #endregion -->

    <tr mat-header-row *matHeaderRowDef="['span3', 'totalNeto', 'totalIva', 'totalIsr','totalIvaRetenido','totalGeneral', 'span2']" class="totales-row" [hidden]="totalGeneral == 0"></tr>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"   ></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay; let dataIndex = dataIndex"
      class="element-row" [class.expanded-row]="element.expanded"
      [ngClass]="{'pending-row': isPending(element)}" >
    </tr>

    <tr mat-row *matRowDef="let row; columns: ['detalles']" class="detail-row"></tr>
    <tr mat-row *matRowDef="let row; columns: ['subDetalles']" class="detail-row"></tr>

  </table>
</div>


<h6 class="subtitle">Facturas Pendientes <span class="badge warning">{{countFacPendientes}}</span></h6>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="this.facturasPendientes" multiTemplateDataRows class="mat-elevation-z8">

     <!-- #region Totales Factura Pagadas-->
     <ng-container matColumnDef="span3">
      <th mat-header-cell *matHeaderCellDef colspan="3">  <p  class="text-end">Totales:</p> </th>               
    </ng-container>
    <ng-container matColumnDef="totalNeto">
      <th mat-header-cell *matHeaderCellDef>  {{ totalNetoPendientes | currency }}</th>               
    </ng-container>

    <ng-container matColumnDef="totalIva">
      <th mat-header-cell *matHeaderCellDef>  {{ totalIvaPendientes | currency }}</th>               
    </ng-container>

    <ng-container matColumnDef="totalIsr">
      <th mat-header-cell *matHeaderCellDef>  {{ totalIsrPendientes | currency }}</th>               
    </ng-container>
    
    <ng-container matColumnDef="totalIvaRetenido">
      <th mat-header-cell *matHeaderCellDef>  {{ totalIvaRetenidoPendientes | currency }}</th>               
    </ng-container>


    <ng-container matColumnDef="totalGeneral">
      <th mat-header-cell *matHeaderCellDef>  {{ totalGeneralPendientes | currency }}</th>               
    </ng-container>

    <ng-container matColumnDef="span2">
      <th mat-header-cell *matHeaderCellDef colspan="2">  </th>               
    </ng-container>
    <!-- #endregion-->

    <!-- #region Header Factura -->
    <ng-container matColumnDef="folio">
      <th mat-header-cell *matHeaderCellDef> Folio </th>
      <td mat-cell *matCellDef="let factura"> {{factura.serie }} {{factura.folio}} </td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let factura">{{ factura.fecha | date: 'dd/MM/yyyy' }}</td>
    </ng-container>

    <ng-container matColumnDef="cliente">
      <th mat-header-cell *matHeaderCellDef> Cliente </th>
      <td mat-cell *matCellDef="let factura"> {{factura.cliente}} </td>
    </ng-container>

    <ng-container matColumnDef="neto">
      <th mat-header-cell *matHeaderCellDef> Neto </th>
      <td mat-cell *matCellDef="let factura"> {{factura.neto}} </td>
    </ng-container>

    <ng-container matColumnDef="iva">
      <th mat-header-cell *matHeaderCellDef> Iva </th>
      <td mat-cell *matCellDef="let factura"> {{factura.iva}} </td>
    </ng-container>

    <ng-container matColumnDef="ivaRetenido">
      <th mat-header-cell *matHeaderCellDef> Iva Ret </th>
      <td mat-cell *matCellDef="let factura"> {{factura.ivaRetenido}} </td>
    </ng-container>

    <ng-container matColumnDef="isr">
      <th mat-header-cell *matHeaderCellDef> Isr </th>
      <td mat-cell *matCellDef="let factura"> {{factura.isr}} </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef> Total </th>
      <td mat-cell *matCellDef="let factura"> {{factura.total | currency }} </td>
    </ng-container>

    <ng-container matColumnDef="agente">
      <th mat-header-cell *matHeaderCellDef> Agente </th>
      <td mat-cell *matCellDef="let factura"> {{factura.agente}} </td>
    </ng-container>

    <ng-container matColumnDef="opciones">
      <th mat-header-cell *matHeaderCellDef> Opciones </th>
      <td mat-cell *matCellDef="let factura">
        <button mat-icon-button (click)="expandElement(factura)">
          <mat-icon>{{factura.expanded ? 'expand_less' : 'expand_more'}}</mat-icon>
        </button>
      </td>
    </ng-container>
    <!-- #endregion -->

    <!-- #region  Detalles Codigo, Nombre y Descripcion del Producto -->
    <ng-container matColumnDef="detalles">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="element-detail" *ngIf="element.expanded">
          <table mat-table [dataSource]="element.movimientos">

            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef> Descripcion </th>
              <td mat-cell *matCellDef="let movto"> <strong>{{movto.codigoProducto }} </strong>- {{movto.nombreProducto
                }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{movto.descripcion}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['descripcion']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['descripcion'];"></tr>
          </table>
        </div>
      </td>
    </ng-container>
    <!-- #endregion -->

    <!-- #region SubDetalles Importes -->
    <ng-container matColumnDef="subDetalles">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="element-detail" *ngIf="element.expanded">
          <table mat-table [dataSource]="element.movimientos">

            <ng-container matColumnDef="neto">
              <th mat-header-cell *matHeaderCellDef> Neto </th>
              <td mat-cell *matCellDef="let movimiento"> {{movimiento.neto | currency}} </td>
            </ng-container>

            <ng-container matColumnDef="descto">
              <th mat-header-cell *matHeaderCellDef> Descto </th>
              <td mat-cell *matCellDef="let movimiento"> {{movimiento.descuento | currency}} </td>
            </ng-container>

            <ng-container matColumnDef="IVA">
              <th mat-header-cell *matHeaderCellDef> IVA </th>
              <td mat-cell *matCellDef="let movimiento"> {{movimiento.iva | currency}} </td>
            </ng-container>

            <ng-container matColumnDef="ISR">
              <th mat-header-cell *matHeaderCellDef> ISR </th>
              <td mat-cell *matCellDef="let movimiento"> {{movimiento.isr | currency}} </td>
            </ng-container>

            <ng-container matColumnDef="Agente">
              <th mat-header-cell *matHeaderCellDef> Agente </th>
              <td mat-cell *matCellDef="let movimiento">
                <input type="number" class="short-input"
                  [formControl]="$any(movimientoForms).get(movimiento.idMovimiento)?.get('idAgente')" maxlength="1" />
              </td>
            </ng-container>


            <ng-container matColumnDef="Com">
              <th mat-header-cell *matHeaderCellDef>% Com </th>
              <td mat-cell *matCellDef="let movimiento"> <input class="short-input"
                  [formControl]="$any(movimientoForms).get(movimiento.idMovimiento)?.get('comision')" maxlength="3" />
              </td>
            </ng-container>

            <ng-container matColumnDef="Uti">
              <th mat-header-cell *matHeaderCellDef> Utilidad </th>
              <td mat-cell *matCellDef="let movimiento"> <app-currency-input class="short-input"
                  [control]="movimientoForms.get(movimiento.idMovimiento)?.get('utilidad')"></app-currency-input> </td>
            </ng-container>


            <ng-container matColumnDef="U.Ric">
              <th mat-header-cell *matHeaderCellDef> U Ric </th>
              <td mat-cell *matCellDef="let movimiento"> <app-currency-input
                  [control]="movimientoForms.get(movimiento.idMovimiento)?.get('utilidadRicardo')"></app-currency-input>
              </td>
            </ng-container>

            <ng-container matColumnDef="U.Ang">
              <th mat-header-cell *matHeaderCellDef> U Angie </th>
              <td mat-cell *matCellDef="let movimiento"> <app-currency-input
                  [control]="movimientoForms.get(movimiento.idMovimiento)?.get('utilidadAngie')"></app-currency-input>
              </td>
            </ng-container>

            <ng-container matColumnDef="IvaR">
              <th mat-header-cell *matHeaderCellDef> IVA Ric </th>
              <td mat-cell *matCellDef="let movimiento"> <app-currency-input
                  [control]="movimientoForms.get(movimiento.idMovimiento)?.get('ivaRicardo')"></app-currency-input>
              </td>
            </ng-container>

            <ng-container matColumnDef="IvaA">
              <th mat-header-cell *matHeaderCellDef> IVA Angie </th>
              <td mat-cell *matCellDef="let movimiento"><app-currency-input
                  [control]="movimientoForms.get(movimiento.idMovimiento)?.get('ivaAngie')"></app-currency-input> </td>
            </ng-container>

            <ng-container matColumnDef="IsrR">
              <th mat-header-cell *matHeaderCellDef> ISR Ric </th>
              <td mat-cell *matCellDef="let movimiento"> <app-currency-input
                  [control]="movimientoForms.get(movimiento.idMovimiento)?.get('isrRicardo')"></app-currency-input></td>
            </ng-container>

            <ng-container matColumnDef="IsrA">
              <th mat-header-cell *matHeaderCellDef> ISR Angie </th>
              <td mat-cell *matCellDef="let movimiento"><app-currency-input
                  [control]="movimientoForms.get(movimiento.idMovimiento)?.get('isrAngie')"></app-currency-input> </td>
            </ng-container>

            <ng-container matColumnDef="Observa">
              <th mat-header-cell *matHeaderCellDef> Observa. </th>
              <td mat-cell *matCellDef="let movimiento"><input class="medium-input"
                  [formControl]="$any(movimientoForms).get(movimiento.idMovimiento)?.get('observaciones')" /> </td>
            </ng-container>


            <ng-container matColumnDef="save">
              <th mat-header-cell *matHeaderCellDef>Opciones </th>
              <td mat-cell *matCellDef="let movimiento">

                <button mat-icon-button matTooltip="calc comision" matTooltipPosition="left" aria-label="calcular"
                  class="calulate-icon" (click)="calcComisiones(movimiento)">
                  <mat-icon>calculate</mat-icon>
                </button>

                <button mat-icon-button aria-label="save" class="save-icon" (click)="updateMovimiento(movimiento)">
                  <mat-icon>save</mat-icon>
                </button>
              </td>
            </ng-container>

            <!-- El orden que importa esta en Tr estos container no indican orden-->
            <tr mat-header-row *matHeaderRowDef="columnsMovtoImportes"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsMovtoImportes; let dataIndex = dataIndex"></tr>>

          </table>
        </div>
      </td>
    </ng-container>
    <!-- #endregion -->

    <tr mat-header-row *matHeaderRowDef="['span3', 'totalNeto', 'totalIva', 'totalIsr','totalIvaRetenido','totalGeneral', 'span2']" class="totales-row" [hidden]="totalGeneral == 0"></tr>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay; let dataIndex = dataIndex"
      class="element-row" [class.expanded-row]="element.expanded">
    </tr>

    <tr mat-row *matRowDef="let row; columns: ['detalles']" class="detail-row"></tr>
    <tr mat-row *matRowDef="let row; columns: ['subDetalles']" class="detail-row"></tr>

  </table>
</div>