<!-- #region   Seleccion de Periodo  -->
<form [formGroup]="form">
  <h4>Facturas</h4>
  <mat-form-field>
    <mat-label>Seleccionar Periodo</mat-label>
    <mat-select [formControl]="periodoControl" name="periodo" (selectionChange)="onPeriodoChange($event)">
      <mat-option>None</mat-option>
      @for (periodo of periodos; track periodo) {
      <mat-option [value]="periodo.value">{{periodo.viewValue}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</form>
<!-- #endregion  -->

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="this.facturas" multiTemplateDataRows class="mat-elevation-z8">

    <!-- #region Columnas Factura -->
    <ng-container matColumnDef="folio">
      <th mat-header-cell *matHeaderCellDef> Folio </th>
      <td mat-cell *matCellDef="let factura"> {{factura.serie }} {{factura.folio}} </td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let factura">{{ factura.fecha | date: 'dd/MM/yyyy' }}</td>
    </ng-container>

    <ng-container matColumnDef="cliente">
      <th mat-header-cell *matHeaderCellDef> Cliente </th>
      <td mat-cell *matCellDef="let factura"> {{factura.cliente}} </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef> Total </th>
      <td mat-cell *matCellDef="let factura"> {{factura.total | currency }} </td>
    </ng-container>

    <ng-container matColumnDef="agente">
      <th mat-header-cell *matHeaderCellDef> Agente </th>
      <td mat-cell *matCellDef="let factura"> {{factura.agente}} </td>
    </ng-container>

    <ng-container matColumnDef="opciones">
      <th mat-header-cell *matHeaderCellDef> Opciones </th>
      <td mat-cell *matCellDef="let factura">
        <button mat-icon-button (click)="expandElement(factura)">
          <mat-icon>{{factura.expanded ? 'expand_less' : 'expand_more'}}</mat-icon>
        </button>
      </td>
    </ng-container>
    <!-- #endregion -->

    <!-- #region 1era SubFila Codigo, Nombre y Descripcion del Producto -->
    <ng-container matColumnDef="detalles">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail" *ngIf="element.expanded">
          <table mat-table [dataSource]="element.movimientos">

            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef> Descripcion </th>
              <td mat-cell *matCellDef="let movto"> <strong>{{movto.codigoProducto }} </strong>- {{movto.nombreProducto }}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{movto.descripcion}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['descripcion']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['descripcion'];"></tr>
          </table>
        </div>
      </td>
    </ng-container>
    <!-- #endregion -->

     <!-- #region 2era SubFila Importes -->
    <ng-container matColumnDef="subDetalles">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail" *ngIf="element.expanded">
          <table mat-table [dataSource]="element.movimientos">

            <ng-container matColumnDef="neto">
              <th mat-header-cell *matHeaderCellDef> Neto </th>
              <td mat-cell *matCellDef="let movimiento"> {{movimiento.neto | currency}} </td>
            </ng-container>

            <ng-container matColumnDef="descto">
              <th mat-header-cell *matHeaderCellDef> Descto </th>
              <td mat-cell *matCellDef="let movimiento"> {{movimiento.descuento | currency}} </td>
            </ng-container>

            <ng-container matColumnDef="IVA">
              <th mat-header-cell *matHeaderCellDef> IVA </th>
              <td mat-cell *matCellDef="let movimiento"> {{movimiento.impuesto | currency}} </td>
            </ng-container>

            <ng-container matColumnDef="ISR">
              <th mat-header-cell *matHeaderCellDef> ISR </th>
              <td mat-cell *matCellDef="let movimiento"> {{movimiento.retencion | currency}} </td>
            </ng-container>

            <ng-container matColumnDef="Agente">
              <th mat-header-cell *matHeaderCellDef> Agente </th>
              <td mat-cell *matCellDef="let movimiento"> <input type="number" class="short-input" [formControl]="$any(movimientoForm).get('idAgente')" maxlength="1" /> </td>
            </ng-container>


            <ng-container matColumnDef="Com">
              <th mat-header-cell *matHeaderCellDef>% Com </th>
              <td mat-cell *matCellDef="let movimiento"> <input class="short-input" [formControl]="$any(movimientoForm).get('comision')" maxlength="3" /> </td>
            </ng-container>

            <ng-container matColumnDef="Uti">
              <th mat-header-cell *matHeaderCellDef> Utilidad </th>
              <td mat-cell *matCellDef="let movimiento"> <app-currency-input class="short-input" [control]="movimientoForm.get('utilidad')"></app-currency-input> </td>
            </ng-container>


            <ng-container matColumnDef="U.Ric">
              <th mat-header-cell *matHeaderCellDef> U Ric </th>
              <td mat-cell *matCellDef="let movimiento"> <app-currency-input [control]="movimientoForm.get('utilidadRicardo')"></app-currency-input> </td>
            </ng-container>

            <ng-container matColumnDef="U.Ang">
              <th mat-header-cell *matHeaderCellDef> U Angie </th>
              <td mat-cell *matCellDef="let movimiento"> <app-currency-input [control]="movimientoForm.get('utilidadAngie')"></app-currency-input></td>
            </ng-container>

            <ng-container matColumnDef="IvaR">
              <th mat-header-cell *matHeaderCellDef> IVA Ric </th>
              <td mat-cell *matCellDef="let movimiento"> <app-currency-input [control]="movimientoForm.get('ivaRicardo')"></app-currency-input> </td>
            </ng-container>

            <ng-container matColumnDef="IvaA">
              <th mat-header-cell *matHeaderCellDef> IVA Angie </th>
              <td mat-cell *matCellDef="let movimiento"><app-currency-input [control]="movimientoForm.get('ivaAngie')"></app-currency-input> </td>
            </ng-container>

            <ng-container matColumnDef="IsrR">
              <th mat-header-cell *matHeaderCellDef> ISR Ric </th>
              <td mat-cell *matCellDef="let movimiento"> <app-currency-input [control]="movimientoForm.get('isrRicardo')"></app-currency-input></td>
            </ng-container>

            <ng-container matColumnDef="IsrA">
              <th mat-header-cell *matHeaderCellDef> ISR Angie </th>
              <td mat-cell *matCellDef="let movimiento"><app-currency-input [control]="movimientoForm.get('isrAngie')"></app-currency-input> </td>
            </ng-container>

            <ng-container matColumnDef="Observa">
              <th mat-header-cell *matHeaderCellDef> Observa. </th>
              <td mat-cell *matCellDef="let movimiento"><input class="medium-input" [formControl]="$any(movimientoForm).get('observaciones')" /> </td>
            </ng-container>


            <ng-container matColumnDef="save">
              <th mat-header-cell *matHeaderCellDef>Opciones </th>
              <td mat-cell *matCellDef="let movimiento">

                <button mat-icon-button matTooltip="calc comision" matTooltipPosition="left" aria-label="calcular" class="calulate-icon" (click)="calcComisiones(movimiento)">
                  <mat-icon>calculate</mat-icon>
                </button>

                <button mat-icon-button aria-label="save" class="save-icon" (click)="updateMovimiento(movimiento)">
                  <mat-icon>save</mat-icon>
                </button>
              </td>
            </ng-container>

            <!-- El orden que importa esta en Tr estos container no indican orden-->
            <tr mat-header-row *matHeaderRowDef="columnsMovtoImportes"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsMovtoImportes; let dataIndex = dataIndex"></tr>>
    
          </table>
        </div>
      </td>
    </ng-container>
    <!-- #endregion -->

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay; let dataIndex = dataIndex"
      class="example-element-row" [class.example-expanded-row]="element.expanded">
    </tr>

    <tr mat-row *matRowDef="let row; columns: ['detalles']" class="example-detail-row"></tr>
    <tr mat-row *matRowDef="let row; columns: ['subDetalles']" class="example-detail-row"></tr>

  </table>
</div>