button {
  display: inline-block; /* Asegura que los botones no tomen el ancho completo */
}

p {
  display: inline-block; /* Asegura que los párrafos no tomen el ancho completo */
  margin: 0 10px; /* Espacio entre el botón y el texto */
}


button + p {
  display: flex;
  align-items: center;
}

button + p + button {
  display: block;
  margin-top: 10px;
}
.button-container {
  margin-top: 20px;
  display: flex;
  align-items: center; /* Alinea verticalmente al centro */
  gap: 10px; /* Espacio entre el botón y el párrafo */
}
