.header-profile-user {
  width: 30px; /* Ancho de la imagen */
  height: 30px; /* Altura de la imagen */
  border-radius: 50%; /* Forma de círculo */
  margin-right: 5px; /* Espacio entre la imagen y el nombre */
}
