button {
  display: inline-block; /* Asegura que los botones no tomen el ancho completo */
}

p {
  display: inline-block; /* Asegura que los párrafos no tomen el ancho completo */
  margin: 0 10px; /* Espacio entre el botón y el texto */
}


button + p {
  display: flex;
  align-items: center;
}

button + p + button {
  display: block;
  margin-top: 10px;
}
.button-container {
  margin-top: 20px;
  display: flex;
  align-items: center; /* Alinea verticalmente al centro */
  gap: 10px; /* Espacio entre el botón y el párrafo */
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
