<h1 class="main-title">Comisiones Angelica Petul</h1>

<div class="row">
COMISIONES  DESCUENTOS IVA ISR RET IVA  ISR MENSUAL IVA A FAVOR TOTAL IMPUESTOS 



</div>

<app-periodo-select 
  [periodos]="periodos" 
  [defaultValue]="defaultPeriodo"
  (periodoChange)="onPeriodoChange($event)">
</app-periodo-select>

<app-dynamic-table 
  [tableTitle]="'Comisiones Angie'" 
  [badgeClass]="'badge info'" 
  [startSpanNum]=0
  [data]="comisionesAngie"
  [columns]="columnsAngieTable"
  [totalColumns]="totalsAngieTable"
  [clickOnFolio]="true"
  [contenido]="TipoContenidoOrigen.ComisionesAngie"
  >
</app-dynamic-table>

<app-dynamic-table 
  [tableTitle]="'Gastos Angie'" 
  [badgeClass]="'badge info'" 
  [startSpanNum]=0
  [data]="gastosAngie"
  [columns]="columnsGastosTable"
  [totalColumns]="totalsGastosTable"
  [clickOnFolio]="true"
  [contenido]="TipoContenidoOrigen.Gastos"
  >
</app-dynamic-table>

<div class="mt-5 mb-5"></div>

<div class="comisiones-ambos">

  <app-dynamic-table 
    [tableTitle]="'Comisiones Ambos'" 
    [badgeClass]="'badge info'" 
    [startSpanNum]=3
    [data]="comisionesAmbos" 
    [columns]="columnsAmbosTable" 
    [totalColumns]="totalsAmbosTable">
  </app-dynamic-table>

</div>