.title {
  margin-bottom: 16px; 
  background-color:  #fce4ec ;
}


.table-container {
  overflow-x: auto; /* Habilita el scroll horizontal */
}

table.mat-table {
  font-size: 11px; 
  width: 100%; 
}

th.mat-header-cell, td.mat-cell {
  padding: 4px 8px; 
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}





