<!--https://tailwindcomponents.com/components/login-page-with-image-->
<div class="bg-white dark:bg-gray-900">
  <div class="flex justify-center h-screen">
    <div class="hidden bg-cover lg:block lg:w-2/3"
         style="background-image: url(https://images.unsplash.com/photo-1616763355603-9755a640a287?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)">
      <div class="flex items-center h-full px-20 bg-gray-900 bg-opacity-40">
        <div>


          <p class="max-w-xl mt-3 text-gray-300">Lorem ipsum dolor sit, amet consectetur adipisicing elit. In autem
            ipsa, nulla laboriosam dolores, repellendus perferendis libero suscipit nam temporibus molestiae</p>
        </div>
      </div>
    </div>

    <!--  STARTS   Right Panel for login Form -->

    <div class="flex items-center w-full max-w-md px-6 mx-auto lg:w-2/6">
      <div class="flex-1">

        <div class="text-center">
          <h2
            class="text-4xl bg-gradient-to-bl from-blue-400 via-purple-500 to-yellow-200 inline-block text-transparent bg-clip-text">
            Welcome Back </h2>


          <p class="mt-3 text-gray-500 dark:text-gray-300">Sign in to access your account</p>
        </div>

        <div class="mt-8">
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

            <div class="w-full p-4">

              <label for="email" class="block text-xs font-semibold px-1 mb-2">Email</label>
              <div class="relative">

                <input formControlName="email" type="email" name="email" id="email"
                       class="py-2 px-4 block w-full  border-gray-200 rounded-lg   focus:border-indigo-500 focus:ring-indigo-500 disabled:opacity-50 disabled:pointer-events-none border-2 outline-none"
                       placeholder="johnsmith@example.com">
              </div>

            </div>


            <div class="w-full p-4">

              <label for="hs-toggle-password" class="block text-xs font-semibold px-1 mb-2">Password</label>
              <div class="relative">

                <input formControlName="password" type="password" name="password" id="hs-toggle-password"
                       class="py-2 px-4 block w-full  border-gray-200 rounded-lg   focus:border-indigo-500 focus:ring-indigo-500 disabled:opacity-50 disabled:pointer-events-none border-2 outline-none"
                       placeholder="************">

                <button type="button" data-hs-toggle-password='{
      "target": "#hs-toggle-password"
    }' class="absolute top-0 end-0 p-3.5 rounded-e-md">
                  <svg class="flex-shrink-0 size-3.5 text-gray-400" width="24" height="24" viewBox="0 0 24 24"
                       fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                       stroke-linejoin="round">
                    <path class="hs-password-active:hidden" d="M9.88 9.88a3 3 0 1 0 4.24 4.24"></path>
                    <path class="hs-password-active:hidden"
                          d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"></path>
                    <path class="hs-password-active:hidden"
                          d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"></path>
                    <line class="hs-password-active:hidden" x1="2" x2="22" y1="2" y2="22"></line>
                    <path class="hidden hs-password-active:block"
                          d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"></path>
                    <circle class="hidden hs-password-active:block" cx="12" cy="12" r="3"></circle>
                  </svg>
                </button>


              </div>
              <p class="text-xs text-red-600 mt-2" id="error-password" *ngIf="errorMessage$ | async as error "
              ><b>Error:</b> {{ error }}</p>

            </div>


            <div class="flex w-full p-4 px-3 mb-12 ">

              <button
                class="block w-full max-w-xs mx-auto bg-indigo-500 hover:bg-indigo-700 focus:bg-indigo-700 text-white rounded-lg px-3 py-3 font-semibold"
                type="submit" [disabled]="loginForm.invalid">Login
              </button>

            </div>


          </form>

          <p class="mt-6 text-sm text-center text-gray-400">Don&#x27;t have an account yet? <a href="#"
                                                                                               class="text-blue-500 focus:outline-none focus:underline hover:underline">Sign
            up</a>.</p>
        </div>
      </div>
    </div>

  </div>
</div>
