<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.key">
      <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="!column.action; else actionTemplate">
          {{ formatCell(row[column.key], column.format || 'default') }}
        </ng-container>
        <ng-template #actionTemplate>
          <button
            mat-button
            color="primary"
            (click)="onActionClick(column.action, row)"
          >
            {{ column.header }}
          </button>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="span3">
      <th mat-header-cell *matHeaderCellDef colspan="3">  <p  class="text-end">Totales:</p> </th>               
    </ng-container>
    <ng-container matColumnDef="totalNeto">
      <th mat-header-cell *matHeaderCellDef>  {{ totalNeto | currency }}</th>               
    </ng-container>

    <ng-container matColumnDef="totalIva">
      <th mat-header-cell *matHeaderCellDef>  {{ totalIva | currency }}</th>               
    </ng-container>

    <ng-container matColumnDef="totalGeneral">
      <th mat-header-cell *matHeaderCellDef>  {{ totalGeneral | currency }}</th>               
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="['span3', 'totalNeto', 'totalIva', 'totalGeneral']" class="totales-row" [hidden]="totalGeneral == 0"></tr>
    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: getDisplayedColumns()"  class="element-row"
      (click)="onRowClick(row)"
    ></tr>
  </table>
  
  <!-- <mat-paginator
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize"
    showFirstLastButtons
  ></mat-paginator> -->