.img-profile-user {
  width: 30px; /* Ancho de la imagen */
  height: 30px; /* Altura de la imagen */
  border-radius: 50%; /* Forma de círculo */
  margin-right: 5px; /* Espacio entre la imagen y el nombre */
  aspect-ratio: 16 / 9;

  object-fit: cover;
}

//.cdk-overlay-pane {
//  //width: 100% !important;
//}
//
.mat-menu-panel {
  width: 100% !important;
  padding: 0 10px !important;

}

#userBtn {
  min-width: 200px;
}

