<header id="page-topbar">
  <div class="navbar-header">


    <button mat-icon-button aria-label="Menu icon" class="mx-3" (click)="toggleSidenav.emit()">
      <mat-icon>menu</mat-icon>
    </button>


    <!-- userMenu STARTS -->
    <button id="userBtn" mat-button [matMenuTriggerFor]="userMenu" (menuOpened)="menuOpened()"
            (menuClosed)=menuClosed()>
<ng-container *ngIf="user$ | async as user">
      <span class="d-flex justify-content-start">
        <img class="rounded-circle img-profile-user" width="30" height="30" [src]="user.profilePictureUrl" alt="Profile Picture">
        <span>{{ user.name}}</span>

        <mat-icon class="mx-2" *ngIf="menuOpen">expand_less</mat-icon>
        <mat-icon class="mx-2" *ngIf="!menuOpen">expand_more</mat-icon>
      </span>
      </ng-container>
    </button>

    <mat-menu #userMenu="matMenu"[hasBackdrop]="false" >
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>Profile &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </button>
      <button mat-menu-item (click)="onLogOut()">
        <mat-icon>logout</mat-icon>
        <span>Logout </span>
      </button>
    </mat-menu>
    <!-- userMenu ENDS -->


    <!--    End Main Classes-->
  </div>
</header>


