@use '../helpers/variables' as *;

#page-topbar {

  z-index: calc(#{$sidenav-z-index} + 1);
}

#page-topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  //z-index: 1002;
  background-color: white;
  transition: all 0.1s ease-out;
  border-bottom: 1px solid $border-color;

  &.topbar-shadow {
    box-shadow: rgba(0, 0, 0, 0.18) 0 1px 3px;
  }

  @media (min-width: 768px) {
    left: $sidenav-width;
  }
}

mat-toolbar {
  // position: fixed;
  // top: 0;
  // z-index: 1;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1002;
  // background-color: $header-bg;
  transition: all 0.1s ease-out;
  border-bottom: 1px solid $border-color;

  &.topbar-shadow {
    box-shadow: rgba(0, 0, 0, 0.18) 0 1px 3px;
  }

  @media (min-width: 768px) {
    left: $sidenav-width;
  }


}

//header
.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: $header-height;
  padding: 0 $grid-gutter-width 0 calc(#{$grid-gutter-width} * 0.5)
  /*rtl: 0 0 0 calc(#{$grid-gutter-width} / 2) */
  ;

  @media (max-width: 767.98px) {
    padding: 0 calc(#{$grid-gutter-width} * 0.5) 0 calc(#{$grid-gutter-width} * 0.5);
  }
}

.header-item {
  height: $header-height;
  display: flex;
  align-items: center;
}
