<div class="col-4">
<div class="input-group input-group-sm mb-3">
  <span class="input-group-text" id="inputGroup-sizing-sm">Email</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"  [(ngModel)]="email">
</div>
<div class="input-group input-group-sm mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" [(ngModel)]="password">
</div>


  <button type="button" class="btn btn-primary"  (click)="login()">Login</button>

</div>
<br><br>
<button type="button" class="btn btn-primary" (click)="getClaims()">Get Claims From Auth Controller</button>
<br><br>
<button type="button" class="btn btn-primary" (click)="getPermissions()">Get Permissions</button>
<br><br>
<button (click)="logout()"> Log out</button>

<button class="px-8 py-4 bg-gradient-to-r from-blue-500 to-purple-500 text-white font-bold rounded-full transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg">
  Click me!
</button>

