.title {
  margin-bottom: 16px; /* Ajusta el margen del título */
}

.table-container {
  overflow-x: auto; /* Habilita el scroll horizontal */
}

table.mat-table {
  font-size: 11px; /* Ajusta el tamaño de la fuente */
  width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
}

th.mat-header-cell, td.mat-cell {
  padding: 4px 8px; /* Reduce el padding para ahorrar espacio */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.utilidadR, .ivaR, .isrR {
  background-color: #e0f7fa !important; /* Azul bajito */
}

/* Estilos para las columnas de Angie */
.utilidadA, .ivaA, .isrA {
  background-color: #fce4ec !important; /* Rosa bajito */
}


.mat-column-folio { width: 80px; }
.mat-column-fecha { width: 100px; }
.mat-column-cliente { width: 300px; }
.mat-column-descripcion { width: 500px; }
.mat-column-utilidadRicardo, .mat-column-ivaRicardo, .mat-column-isrRicardo,
.mat-column-utilidadA, .mat-column-ivaA, .mat-column-isrA {
  width: 120px;
}


