<h1 class="main-title">Facturas</h1>

<app-periodo-select [periodos]="periodos" [defaultValue]="defaultPeriodo" (periodoChange)="onPeriodoChange($event)"></app-periodo-select>

<app-expand-row-table
  [tableTitle]="'Facturas Cobradas'"
  [badgeClass]="'badge success'"
  [data]="facturasPagadas"
  [totalColumns]="totalColumns"
  [mainColumns]="mainColumns"
  [amountColumns]="amountColumns"
  [movimientoForms]="movimientoForms"
  (expandElementEvent)="expandElement($event)"
  (updateMovimientoEvent)="updateMovimiento($event)"
></app-expand-row-table>

<app-expand-row-table
  [tableTitle]="'Facturas Pendientes'"
  [badgeClass]="'badge info'"
  [data]="facturasPendientes"
  [totalColumns]="totalColumns"
  [mainColumns]="mainColumns"
  [amountColumns]="amountColumns"
  [movimientoForms]="movimientoForms"
  (expandElementEvent)="expandElement($event)"
  (updateMovimientoEvent)="updateMovimiento($event)"
></app-expand-row-table>

<div *ngIf="facturasCanceladas.length > 0 ">
  <app-expand-row-table
  [tableTitle]="'Facturas Canceladas'"
  [badgeClass]="'badge warning'"
  [data]="facturasCanceladas"
  [totalColumns]="totalColumns"
  [mainColumns]="mainColumns"
  [amountColumns]="amountColumns"
  [movimientoForms]="movimientoForms"
  (expandElementEvent)="expandElement($event)"
></app-expand-row-table>

</div>