.title {
  margin-bottom: 16px; /* Ajusta el margen del título */
  background-color:  #e0f7fa ;
}
.table-container {
  overflow-x: auto; /* Habilita el scroll horizontal */
}

table.mat-table {
  font-size: 12px; 
  width: 100%; 
}

th.mat-header-cell, td.mat-cell {
  padding: 4px; 
  white-space: nowrap; 
}

.utilidadR, .ivaR, .isrR {
  background-color: #e0f7fa;
}

.utilidadA, .ivaA, .isrA {
  background-color: #fce4ec; 
}

.sum-container {
  display: flex;
  justify-content: space-around; /* Distribuye los elementos horizontalmente */
  padding: 8px;
  background-color: #f5f5f5; /* Color de fondo */
  font-weight: bold; /* Texto en negrita */
}