<h1 class="main-title">Comisiones Ricardo Chavez</h1>

<app-periodo-select [periodos]="periodos" [defaultValue]="currentPeriodo" (periodoChange)="onPeriodoChange($event)"> </app-periodo-select>

<app-comisiones-resumen-neto [comision]="resumenCom" [periodo]="currentPeriodo" [idAgente]="idRicardo" ></app-comisiones-resumen-neto>

<app-dynamic-table 
  [tableTitle]="'Comisiones Ricardo'" 
  [badgeClass]="'badge info'" 
  [startSpanNum]=0
  [data]="comisiones"
  [columns]="columnsRicardoTable"
  [totalColumns]="totalsRicardoTable"
  [clickOnFolio]="true"
  [contenido]="TipoContenidoOrigen.ComisionesAngie"
  >
</app-dynamic-table>

<app-dynamic-table 
  [tableTitle]="'Gastos Ricardo'" 
  [badgeClass]="'badge info'" 
  [startSpanNum]=0
  [data]="gastos"
  [columns]="columnsGastosTable"
  [totalColumns]="totalsGastosTable"
  [clickOnFolio]="true"
  [contenido]="TipoContenidoOrigen.Gastos"
  >
</app-dynamic-table>


<div class="comisiones-ambos">

  <app-dynamic-table 
    [tableTitle]="'Comisiones Ambos'" 
    [badgeClass]="'badge info'" 
    [startSpanNum]=3
    [data]="comisionesAmbos" 
    [columns]="columnsAmbosTable" 
    [totalColumns]="totalsAmbosTable">
  </app-dynamic-table>

</div>