@use 'helpers/variables' as *;
@use 'helpers/primeng';
@use 'helpers/tailwind';
@use 'layout';
@use 'icons';
@use 'material/material-themes';

.container-wrap {
  height: 100%;
}

.main-content {
  transition: all .1s ease-out;

  @media (min-width: 768px) {
    margin-left: $sidenav-width;
  }
}

.snackbar-success {
  background-color: rgba(84, 186, 74) !important;;
  border-color: rgba(84, 186, 74, 0.9) !important;;
  color: #fff !important;
}

.snackbar-error {
  color: white !important;
  background-color: rgba(252, 68, 56)!important;
  border-color: rgba(252, 68, 56, 0.9) !important;
}


.snackbar-info .mdc-snackbar__label {
  color: white !important;
  background-color: rgba(22, 199, 249)!important;
  border-color: rgba(22, 199, 249, 0.9)!important;

}

.page-content {
  padding: calc(#{$header-height} + #{$grid-gutter-width}) calc(#{$grid-gutter-width} * 0.5) $footer-height calc(#{$grid-gutter-width} * 0.5);
}

// Custom scrollbar styles
.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  background: linear-gradient(135deg, #8039BF, #6700F4);
}




