$my-softblue: (
  50 : #eef2ff,
  100 : #d4defe,
  200 : #b7c9fd,
  300 : #9ab3fc,
  400 : #84a2fc,
  500 : #6e92fb,
  600 : #668afa,
  700 : #5b7ffa,
  800 : #5175f9,
  900 : #3f63f8,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #e0e6ff,
  A700 : #c7d1ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$my-kindaPink: (
  50 : #fbe7ec,
  100 : #f5c4d0,
  200 : #ee9cb1,
  300 : #e77492,
  400 : #e2577a,
  500 : #dd3963,
  600 : #d9335b,
  700 : #d42c51,
  800 : #cf2447,
  900 : #c71735,
  A100 : #fff9fa,
  A200 : #ffc6ce,
  A400 : #ff93a3,
  A700 : #ff7a8d,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$my-darkgray: (
  50 : #e4e5e7,
  100 : #bcbfc4,
  200 : #8f949d,
  300 : #626976,
  400 : #404958,
  500 : #1e293b,
  600 : #1a2435,
  700 : #161f2d,
  800 : #121926,
  900 : #0F172A, //background toolbar
  A100 : #5a8cff,
  A200 : #2768ff,
  A400 : #0049f3,
  A700 : #0041da,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$my-darkpink: (
  50 : #ffe4f1,
  100 : #ffbcdc,
  200 : #ff90c5,
  300 : #fe64ae,
  400 : #fe429c,
  500 : #fe218b,
  600 : #fe1d83,
  700 : #fe1878,
  800 : #fe146e,
  900 : #fd0b5b,
  A100 : #ffffff,
  A200 : #fff4f7,
  A400 : #ffc1d3,
  A700 : #ffa7c0,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$my-darkpurple: (
  50 : #e8e0ea,
  100 : #c5b3ca,
  200 : #9f80a6,
  300 : #794d82,
  400 : #5c2668,
  500 : #3f004d,
  600 : #390046,
  700 : #31003d,
  800 : #290034,
  900 : #1b0025,
  A100 : #c860ff,
  A200 : #b62dff,
  A400 : #a200f9,
  A700 : #9200e0,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);


