@use "sass:map";
@use "../../../../node_modules/@angular/material/index" as mat;
@use '../helpers/palettes';

//These four hues represent, in order: the "default" hue, a "lighter" hue, a "darker" hue, and a "text" hue.
$dark-primary: mat.define-palette(palettes.$my-darkgray);
$dark-accent: mat.define-palette(palettes.$my-darkpurple);
$dark-warn: mat.define-palette(palettes.$my-darkpink);

$dark-theme: mat.define-dark-theme(
    (
      color: (
        primary: $dark-primary,
        accent: $dark-accent,
        warn: $dark-warn,
      ),
    )
);
